:root {
    --white: #fff;
    --light-gray: #ddd;
    --logo-color: #f4f4f8;
    --light-white: #f2e0e0;
    --background-color: #f8fcf9;
    --red-dark:rgba(255, 0, 0, 0.87);
    --gray: #9a9a9a;
    --black: #000000;
    --dark-gray: #2d2d2d;   
    --dark-gray-red: rgba(115, 114, 114, 0.12);
    --green: #5cb874;
    --green2: #38a62e;
    --green3: #0b3d06;
    --dark-green: rgb(12, 32, 12);
    --background-green: rgba(68, 150, 91, 0.299);
    --yellow: #ffc107;
    --orange: orange;
    --light-yellow: #ffeb8d;
    --blue: blue;
    --light-blue:rgb(76, 130, 211);
    --background-blue: rgba(7, 58, 109, 0.265);
    --background-blue2:rgba(4, 35, 65, 0.861);
    --purple:purple;
    --header--background:#94846B;
  }
.home {
    background: url('../images/background-home.webp');
    /* filter: brightness(50%) contrast(150%); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 70vh;
    width: 100%;
}
.home h2{
    font-size: 2.8rem;
    font-style: italic;
    color: var(--dark-gray);
    text-align: center;
    margin-top: 40px;
    font-weight: 600;
}
.home span{
    text-align: center;
    font-size: 1.2rem;
    color:var(--dark-gray);
    margin-top: 10px;

}

.home .button {
    margin-top: 50px;
    text-align: center;
}
.home .button  a{
    color: var(--dark-gray);
}

.carousel-home{
    margin: 60px;
}
.carousel-home h3{
    text-align: center;
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel_width{
    width: 50%;
}
.carousel-item{
    text-align: center;

}
.content{
    display: flex;
    margin: 20px;
    /* height: 80vh; */
}
.nav__content{
    flex: 24%;
    position: relative;
    margin-top: 20px;
}

.nav__content--bar {
    display: flex;
    padding-bottom: 10px;
}
.nav__content--bar i{
    display: flex;
    font-size: 22px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -4px;
    left: 28px;    
}
.nav__content--bar i:hover{
    color: var(--dark-gray);
}

.nav__content--title {
    position: relative;
    right: -35px;
    font-weight: 600;
    
}
.nav__content--item {
    list-style: none;
    padding: 10px 0;
}
.nav__content--item a:hover{
    color: var(--dark-gray);
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--light-white);
}
.nav__content::before{
    content: "";
    position: absolute;
    border: 2px solid var(--light-gray);
    color: var(--gray);
    height: 100%;
    right: 10%;

}
.main__content{
    flex: 76%;
}

/* products */
.nav__search {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.input-group {
    width: 50%;
    height: 41px;
  }
  .input-group input {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px !important;
  }
  .input-group input::placeholder {
    font-style: italic;
  }
  .input-group input:focus {
    border-color: var(--dark-gray);
    /* box-shadow: 0 0 0 0.2rem var(--light-gray); */
  }
  .input-group-append {
    position: absolute;
    right: 1.5px;
    top: 1.5px;
  }
  .input-group .btn {
    background: linear-gradient(to right,#FFC1C2, #FEDEE0);
    z-index: 999 !important;
    color: var(--black);
  }
/* home */

.main__content--list {
    display: flex;
}
.main__content--item{
    margin: 10px;
}

/* about */
.about__content {
    display: flex;
    margin: 20px 50px;
}
.about__content--left {
    flex: 50%;
}
.about__content--right {
    flex: 50%;
}
.list--products--details{
    display: flex;
}


/* products */
.content__products{
    display: flex;
}

.content__left{
    flex: 30%;
}

.content__right{
    flex: 70%;
}